:root{
    --primary-blue: #578FCA;
    --footer-bk : aliceblue;
    --footer-txt: darkblue;
    --footer-link-hover: blue;
    --menu-btn: #6482AD;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Audiowide", sans-serif;
}

#threejs-background {
    position: static;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 10px 10px 1px var(--darker-yellowish);
    padding: 0;
    margin: 0;
}

.sidebar{
    background-color: var(--primary-blue);
    width: 70px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0.8;

    & .menu-btn{
        margin: 20px 5px;
        padding: 3px;
        background-color: var(--primary-blue);
        border: 2px solid var(--footer-bk);
        color: var(--footer-bk);
        font-size: 16px;
        font-family: "Audiowide", sans-serif;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--footer-bk);
    opacity: 0.5;
    z-index: 5;

    & .footer-conatiner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & p{
            margin: 6px;
            color: var(--footer-txt);
        }

        & a{
            color: var(--footer-txt);
            margin: 0 1px 0 1px;
        }

        & a:hover{
            color: var(--footer-link-hover);
        }

        & .logo{
            width: 30px;
        }
    }

    
}